[Unit]
Description=low-level multimedia framework - capture and playback for both audio and video
After=pipewire

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/pipewire -c pipewire-pulse.conf
ExecOnFailure=/usr/bin/sxmo_notify_user.sh "superd failed to start pipewire-pulse"
