[Unit]
Description=Hides mouse pointer while not in use

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/unclutter-xfixes --hide-on-touch --start-hidden
