[Unit]
Description=Session / policy manager implementation for PipeWire
After=pipewire

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/wireplumber
ExecOnFailure=/usr/bin/sxmo_notify_user.sh "superd failed to start wireplumber"
