[Unit]
Description=Sxmo: watch network changes and update the status bar

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/sxmo_networkmonitor.sh
